# este é um exemplo de arquivo config.env que deve ser criado, pois, o mesmo não é versionado com o git
# crie o arquivo confiv.env e configure com as seguintes constantes

API_KEY = "09891c32140b43b6a2475dbd3a59deab" # substitua a API_KEY pela key obtida no newsapi
API_URL = "https://newsapi.org/v2"
PORT = 3001